<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="ptl-hrm">

    <test name="test1">

        <packages>

            <package name="com.pragmatic.testNG">


            </package>
        </packages>



    </test>



    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>

</suite>